<img src="./img/faq.jpg" id="image" /> 

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Dov’è attivo il servizio?</div>
      	</div>
      </div>
      <div class="collapsible-body">
      <p>Attualmente LoveItaly è attivo in Abruzzo nei comuni di: Castel Frentano, Fossacesia, Frisa, Lanciano, Mozzagrogna, Ortona, Rocca San Giovanni, Santa Maria Imbaro, San Vito Chietino e Treglio.</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Quando viene effettuata la consegna della spesa?</div>
      	</div>	
      </div>
      <div class="collapsible-body"><p>La consegna della spesa viene effettuata il martedì e il venerdì, tra le 10.00 e le 19.00, ma sei tu a scegliere la data tra quelle disponibili nel calendario. Gli ordini per il martedì si chiudono la domenica sera e quelli del venerdì il mercoledì sera.  </p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Vivo a Roma ma vorrei fare la spesa per i miei genitori che sono a Lanciano. Posso farlo?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Certo. Anche se sei registrato con il tuo indirizzo di Roma, puoi tranquillamente acquistare e far recapitare la spesa ai tuoi genitori a Lanciano. Ti basta selezionare il comune di Lanciano ed indicare, in fase di conferma dell'ordine, l'indirizzo dei tuoi genitori.</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Posso effettuare il pagamento in contanti?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Si. È possibile pagare la spesa anche in contanti alla consegna.</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
     		<div class="col s11">Non posso essere presente alla consegna. Che posso fare?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Se hai dei problemi nel farti trovare alla consegna puoi segnalarcleo in fase di ordine nell'apposito spazio.
</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">C’è un limite minimo di spesa?</div>
     	</div>
      </div>
      <div class="collapsible-body"><p>Si. 25 euro è il limite minimo di spesa (fino al 15 giugno ridotto a 18 euro).
</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Una volta concluso l'ordine, riceverò una e-mail di conferma del mio ordine?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Si. Una volta completato l’ordine sul sito, riceverai immediatamente una e-mail di conferma dell'ordine, in cui visualizzerai l'elenco dei produttori da cui hai acquistato e i relativi prodotti. </p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Sono un produttore agricolo e vorrei associarmi a LoveItaly. Come posso fare?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>È sufficiente inviarci una e-mail tramite l’apposito modulo di contatto, selezionando nell'oggetto "Adesioni". Basterà indicare i suoi dati aziendali (nome, luogo in cui ha sede) ed un riferimento telefonico. Saremo noi a ricontattarla.</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Quanto costa il servizio?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>L’iscrizione al sito è totalmente gratuita e i prezzi dei prodotti sono visibili di fianco a ciascuno di essi. La consegna è GRATUITA. Solo un costo di gestione ordine di 2,00 euro viene aggiunto al totale della spesa per ogni acquisto (l'informazione è chiaramente visibile nella pagina del carrello).</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Posso scegliere l’ora della consegna?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>No. Ma cercheremo sempre di contattarti con un po’ di anticipo per darti un’indicazione sull’orario di consegna. </p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1"><i class="fa fa-question-circle"/></div>
      		<div class="col s11">Posso cambiare i miei dati di iscrizione?</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Si. Ti basterà entrare nel tuo profilo e modificare le informazioni che desideri.</p></div>
    </li>    
  </ul>