<img src="./img/info.jpg" id="image" />
<!--<p><strong>LoveItaly</strong> è un marketplace che ti permette di fare la spesa in pochi minuti ed in maniera molto semplice, offrendoti prodotti a <strong>km zero</strong> e garantendoti dunque <strong>gusto, freschezza, qualità, sostenibilità e risparmio</strong>. Per questo ti mette in contatto direttamente con i produttori della tua zona, dandoti la possibilità di acquistare i loro prodotti proprio come se fossi in un tradizionale <strong>mercato</strong> cittadino. Ma il tutto comodamente da casa, dall'ufficio, mentre sei al mare sotto l'ombrellone o sei in montagna a sciare.
<br>
Per entrare nel mondo di <strong>LoveItaly</strong> e fare la spesa ti basta seguire i seguenti passaggi:<p>-->
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1">1.</div>
      		<div class="col s11">Seleziona il comune</div>
      	</div>
      </div>
      <div class="collapsible-body">
      <p>Inserisci nella barra in alto il comune nel quale desideri ricevere la spesa. Questo è un step fondamentale senza il quale è impossibile concludere l'ordine. Tale scelta permette infatti al sistema di individuare automaticamente i produttori della tua zona e di rendere disponibili i loro prodotti per la tua spesa</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1">2.</div>
      		<div class="col s11">Iscriviti gratuitamente</div>
      	</div>	
      </div>
      <div class="collapsible-body"><p>ISCRIVITI sul sito. L'iscrizione è rapida e gratuita. A questo punto sei pronto per iniziare la tua spesa!</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1">3.</div>
      		<div class="col s11">Riempi il carrello</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Fai la spesa! Seleziona i prodotti di cui hai bisogno e mettili nel carrello (è necessario un ordine minimo di 25 euro (fino al 15 giugno ridotto a 18 euro!)).</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1">4.</div>
      		<div class="col s11">Chiudi il carrello</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Chiudi il carrello e vai alla cassa. Qui visualizzi una pagina riassuntiva dei prodotti selezionati, il loro prezzo, la quantità ordinata e l'indicazione dei produttori da cui stai acquistando.</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1">5.</div>
     		<div class="col s11">Seleziona l'indirizzo di consegna</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Puoi scegliere di ricevere la spesa allo stesso indirizzo indicato in fase di registrazione oppure di riceverla ad un altro indirizzo (ad es. in ufficio), purchè ricadente nello stesso comune selezionato.
</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1">6.</div>
      		<div class="col s11">Seleziona il giorno in cui desideri ricevere la spesa</div>
     	</div>
      </div>
      <div class="collapsible-body"><p>Puoi selezionare la data in cui desideri ricevere la spesa, scegliendola tra quelle disponibili nel calendario. Le consegne avvengono il martedì e il venerdì (gli ordini per il martedì si chiudono alle 24.00 della domenica e quelli del venerdì alle 24.00 del mercoledì).  
  Potrai altresì decidere di fare un REGALO, omaggiando i tuoi genitori, un tuo parente o un tuo amico con prodotti freschi e gustosi. Ti basterà spuntare l'apposita icona e lasciare un messaggio di auguri che aggiungeremo alla tua spesa. In tal caso assiucurati di aver inserito l'indirizzo di consegna della persona a cui vuoi fare il regalo (l'indirizzo deve sempre ricadere nello stesso comune selezionato). 
</p></div>
    </li>
    <li>
      <div class="collapsible-header">
      	<div class="row">
      		<div class="col s1">7.</div>
      		<div class="col s11">Ordina e attendi comodamente a casa l’arrivo dei prodotti raccolti e preparati appositamente per te</div>
      	</div>
      </div>
      <div class="collapsible-body"><p>Paga con carta di credito, conto paypal o contanti alla consegna e conferma l’ordine. A questo punto riceverai una e-mail di conferma con l'elenco dei produttori da cui hai acquistato e i relativi prodotti. Ora non ti rimane che aspettare e prepararti per una cucina fresca e di qualità. E anche se hai acquistato da più produttori riceverai comunque la spesa tutta insieme.</p></div>
    </li>
  </ul>