<div id="login-page" class="valign-wrapper left-align">
	<img src="./img/logo.png" class="logo center-align" alt="Logo Love Italy" />
	<form>
		<div class="valign">
			<div class="row">
				<div class="input-field col s12">
					<input id="email" type="email" class="validate">
					<label for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" type="password" class="validate">
					<label for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div id="forgotPassword" class="input-field col s12 center-align extra">
					Password dimenticata?
				</div>
			</div>
			<div class="row">
				<div id="register" class="input-field col s12 center-align extra">
					Registrati
				</div>
			</div>
		</div>
		<a id="login-button" class="waves-effect waves-light btn">Accedi</a>
	</form>
</div>
	
<!-- < Modal Structure > -->
	<div id="modal1" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Registrazione</h4>
			<div class="row">
				<div>
					<label>Nome</label>
					<input id="name" type="text" class="validate">
				</div>
				<div>
					<label>Cognome</label>
					<input id="surname" type="text" class="validate">
				</div>
				<div>
					<label>Email</label>
					<input id="emailR" type="text" class="validate">
				</div>
				<div>
					<label>Password</label>
					<input id="passwordR" type="password" class="validate">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="registration-button" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Invia</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Annulla</a>
		</div>
	</div>
<!-- </ Modal Structure > -->							