	{{#if valid}}
		<ul class="collapsible" data-collapsible="accordion">
			{{#each models}}	
			<li class="goToProduct" data-id="{{this.id}}">
				<div class="collapsible-header">
					<div class="image valign-wrapper">
						<img src="{{this.img}}" class="valign" />
					</div>
					<div class="product">
						<h5 class="truncate">{{this.name}}</h5>
						<h6>€ {{renderPrice this.price}}</h6>
					</div>
				</div>

				<div class="collapsible-body">
				</div>
			</li>
			{{/each}}
		</ul>
	
	{{else}}

		<div class="valign-wrapper">
			<img src="./img/no-result.png" class="no-result valign" alt="La ricerca non ha prodotto risultati" />
		</div>
	
	{{/if}}
